# 중요사항 정리
## 딕셔너리
리스트와 같이 값을 저장하는 자료구조로 키와 값도 함께 저장되는데 키-값 쌍이라고 한다.   
딕셔너리 이름 = {"키" : "값"}   
딕셔너리 이름["키"] = "값"   
딕셔너리에서는 키가 있어야 값을 찾을 수 있다.   
## 딕셔너리 메소드
keys(): 모든 키를 출력   
values(): 모든 값을 출력   
items(): 내부의 모든 값을 출력   
get(key): 키에 대한 값 반환, 키가 없으면 none 반환   
pop(key): 키에 대한 값 반환 후 그 항목 삭제. 키가 없으면 오류   
popitem(): 제일 마지막에 입력된 항목을 반환 후, 삭제.   
sorted(): 키, 값의 튜플 쌍을 받아 정렬   
del: 삭제   
clear(): 모든 항목 삭제   
## 람다 함수 = 이름이 없는 함수
함수를 만들지 않고 함수화된 기능만을 불러 사용하고자 할 경우   
ex. (lambda x, y : x + y)(10, 20)
## 집합
순서가 없고 중복이 없는 자료형.   
문자열일 경우 각 문자들이 하나의 요소가 된다.   
비어 있는 집합을 생성할 때는 set()함수를 사용.   
in 연산자를 사용하여 집합에 있는지 검사 가능   
for문을 사용하여 접근 가능   
## 집합의 메소드
add(): 요소 추가   
remove(): 요소 제거   
len(): 개수   
max(): 가장 큰 값   
min(): 가장 작은 값   
sorted(): 정렬   
sum(): 합계   
set(): 비어있는 집합 생성
## 집합 비교 연산
==, != 같은지 검사
<, <= 진상위 집합, 상위 집합 검사
## 집합 논리 연산
all(): 모두 True인지 검사   
any(): 하나라도 True가 있는지 검사   
.union(): 합집합 A|B   
.intersection(): 교집합 A&B    
.difference(): 차집합 A-B    
.symmetry_difference(): 대칭차집합 A^B     
## 파일
open(): 파일을 연다. 'w' 인자는 쓰기 모드, 'r' 인자는 읽기 모드   
.write(): 파일 내용 쓰기   
.read(): 파일 내용 읽기   
.close(): 파일을 닫는다.

# 자기점검
8-4에서 1번 3번문제에서 중복이 없는 원소를 출력하는것과 중복 출현 빈도를 출력하는 방법을 모르겠다.   
8-6에서 학번으로 조회할 경우 학번, 이름과 전화변호가 출력해야하는데 출력이 안되거나 아니면 3명의 정보가 모두 출력된다.

# 심화문제 풀이
### 8-1

In [3]:
fruits_dic = {'사과':0, '배':0, '수박':0, '귤':0, '포도':0}

a, b, c, d, e = map(int, input('사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력: ').split( ))


fruits_dic = {'사과':a, '배':b, '수박':c, '귤':d, '포도':e}

for name, price in fruits_dic.items():
    print('{:5s}   :   {:5d} 원'.format(name, price))

사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력:  3000 4500 6000 2400 3400

사과      :    3000 원
배       :    4500 원
수박      :    6000 원
귤       :    2400 원
포도      :    3400 원

In [1]:
apple, pear, watermelon, mandarin, grape = input(
    "사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력:").split()

fruits_dic = {'사과':apple, 
               '배':pear, 
               '수박':watermelon, 
               '귤':mandarin, 
               '포도':grape}
print()
print("---------- 오늘의 과일 가격------------")
for key in fruits_dic.keys():
    print('{:5s} : {:5s}원'.format(key, fruits_dic[key]))

사과, 배, 수박, 귤, 포도 가격을 공백으로 구분하여 입력: 3000 4500 6000 2400 3400

---------- 오늘의 과일 가격------------
사과    : 3000 원
배     : 4500 원
수박    : 6000 원
귤     : 2400 원
포도    : 3400 원

### 8-2

In [40]:
fruits_price = {'사과':3000, '배':4500, '수박':6000, '귤':2400, '포도':3400}

name = input('구매를 원하는 과일의 이름을 입력하시오. :')

if name in fruits_price:
    print('오늘의 {} 가격은 {} 원 입니다.'.format(name, fruits_price[name]))

구매를 원하는 과일의 이름을 입력하시오. : 수박

오늘의 수박 가격은 6000 원 입니다.

### 8-3

In [21]:
student = {'211101' : ['최성훈', '010-1234-4500'], '211102' : ['김은지', '010-2230-6540'], '211103' : ['이세은', '010-3232-7788']}

print('학생의 정보 목록')

for num, name in student.items():
    print('{', end = '')
    print('{} : {}'.format(num, name), end = '')
    print('}', end = '\n')

학생의 정보 목록
{211101 : ['최성훈', '010-1234-4500']}
{211102 : ['김은지', '010-2230-6540']}
{211103 : ['이세은', '010-3232-7788']}

In [24]:
student_tup = (('211101', '최성훈', '010-1234-4500'),
               ('211102', '김은지', '010-2230-6540'),
               ('211103', '이세은', '010-3232-7788'))

student_dict = {}

for student in student_tup:
    student_dict[student[0]] = list(student[1:])

print('학생의 정보 목록')
for key, value in student_dict.items():
    print('{', end = '')
    print(key, ':', value, end = '')
    print('}', end = '\n')

학생의 정보 목록
{211101 : ['최성훈', '010-1234-4500']}
{211102 : ['김은지', '010-2230-6540']}
{211103 : ['이세은', '010-3232-7788']}

In [27]:
num = input('학번을 입력하시오 :')

name = student_dict[num][0]
phone_number = student_dict[num][1]

print('이름 : {} \n연락처 : {}'.format(name, phone_number))

학번을 입력하시오 : 211103

이름 : 이세은
연락처 : 010-3232-7788

In [36]:
student_tup = (('211101', '최성훈', '010-1234-4500'),
               ('211102', '김은지', '010-2230-6540'),
               ('211103', '이세은', '010-3232-7788'))

grades = [4.3, 3.9, 4.25]

for i, key in enumerate(student_dict.keys()):
    student_dict[key].append(grades[i])

print('학생의 정보 목록')

student_dict

학생의 정보 목록

{'211101': ['최성훈', '010-1234-4500', 4.3],
 '211102': ['김은지', '010-2230-6540', 3.9],
 '211103': ['이세은', '010-3232-7788', 4.25]}

In [34]:
student_tup = (('211101', '최성훈', '010-1234-4500'),
               ('211102', '김은지', '010-2230-6540'),
               ('211103', '이세은', '010-3232-7788'))

grades = [4.3, 3.9, 4.25]

student_list = []
for k in range(len(student_tup)):
    st_list = list(student_tup[k])
    st_list.append(grades[k])
    student_list.append(tuple(st_list))
    
student_tup = tuple(student_list)

student_dict = {}

for student in student_tup:
    student_dict[student[0]] = list(student[1:])

print('학생의 정보 목록')
for key, value in student_dict.items():
    print(key, ':', value)

학생의 정보 목록
211101 : ['최성훈', '010-1234-4500', 4.3]
211102 : ['김은지', '010-2230-6540', 3.9]
211103 : ['이세은', '010-3232-7788', 4.25]

In [44]:
Sum = 0
for num in student_dict.keys():
    Sum = Sum + student_dict[num][2]

print('전체 학생의 학점 평균 :', Sum/ len(student_dict.keys()))

전체 학생의 학점 평균 : 4.1499999999999995

In [37]:
grade_sum = 0
for key in student_dict.keys():
    grade_sum += student_dict[key][-1]
    
print('전체 학생의 학점 평균 : {:.2f}'.format(grade_sum/len(student_dict)))

전체 학생의 학점 평균 : 4.15

### 8-4

In [48]:
lst = [10, 30, 40, 50, 30, 30, 20, 20, 20, 10, 30]

count_dict = {}
for k in sorted(lst):
    if k not in count_dict:
        count_dict[k] = 0
    count_dict[k] += 1

count_dict

{10: 2, 20: 3, 30: 4, 40: 1, 50: 1}

In [49]:
# collections module을 사용...
from collections import Counter

count_dict = Counter(lst)
print(count_dict)

Counter({30: 4, 20: 3, 10: 2, 40: 1, 50: 1})

In [50]:
count={} #count라는 딕셔너리 생성
c = []
for i in lst:
    #예외 처리 사용 lst의 요소를 하나씩 꺼내서 count에 대입
    try: count[i] += 1 #이미 존재하는 key값일 때 +1을 한다.
    except: count[i]=1 #key에 없는 값이면 1로 저장된다.
for j in count : 
    if count[j] == 1 :
        c.append(j)
print("중복이 없는 원소 : ", c)

중복이 없는 원소 :  [40, 50]

In [51]:
not_overlapped = []

for k in count_dict.keys():
    if count_dict[k] == 1:
        not_overlapped.append(k)

not_overlapped

[40, 50]

In [53]:
uniques = set(lst)
print('전체 원소 :', list(sorted(uniques)))

전체 원소 : [10, 20, 30, 40, 50]

In [55]:
for k, v in count_dict.items():
    if v > 1: 
        print('{} : {} 회'.format(k,v))

10 : 2 회
30 : 4 회
20 : 3 회

### 8-5

In [56]:
print('사전 프로그램 시작... 종료는 q를 입력')
dictionary = {}

while True:
    st = input('$ ')
    command = st[0]
    if command == '<':
        st = st[1:]
        inputStr = st.split(':')
        if len(inputStr) < 2:
            print('입력 오류가 발생했습니다.')
        else:
            dictionary[inputStr[0].strip()] = inputStr[1].strip()
    elif command == '>':
        st = st[1:]
        inputStr = st.strip()
        if inputStr in dictionary:
            print(dictionary[inputStr])
        else:
            print('{}가 사전에 없습니다.'.format(inputStr))
    elif command == 'v':
        print('영어 사전에 있는 단어와 뜻을 출력합니다.')
        for eng, kor in dictionary.items():
            print('{} : {}'.format(eng, kor))
    elif command == 'q':
        break
    else:
        print('입력 오류가 발생했습니다.')

print('사전 프로그램을 종료합니다.')

사전 프로그램 시작... 종료는 q를 입력

$  q

사전 프로그램을 종료합니다.

### 8-6

In [58]:
student_tuple = [('211101', '강이안', '010-123-1111'), 
                 ('211102', '박동민', '010-123-2222'), 
                 ('211103', '김수정', '010-123-3333')]

student_dict = {}
for student in student_tuple:
    student_id, values = student[0], student[1:]
    student_dict[student_id] = values
    
for student_id, values in student_dict.items():
    print(student_id, ':', values[0])

211101 : 강이안
211102 : 박동민
211103 : 김수정

In [59]:
student_id = input('학번을 입력하세요: ').strip()
values = student_dict[student_id]

print('{} 학생은 {}이며, 전화번호는 {}입니다.'.format(student_id, values[0], values[1]))

학번을 입력하세요:  211103

211103 학생은 김수정이며, 전화번호는 010-123-3333입니다.